<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt"
      throwConfigExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">
		<!-- write logs to file  -->
		<target name="console" xsi:type="ColoredConsole"
		        layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${stacktrace} - ${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="allfile" fileName="Logi/${shortdate}/nlog-${var:loggerType}-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				networkWrites="true"/>
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="info" writeTo="allfile" />
		<logger name="*" minlevel="error" writeTo="console" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="info" final="true" />
		<!-- BlackHole without writeTo -->
	</rules>
</nlog>